.cartArea{
    padding: 130px 0;
    .breadCrmb{
        display: flex;
        justify-content: center;
        background-color: #F5F5F5;
       padding: 15px 0px;
      a{
            color: gray;
            text-decoration: none;
          font-size: 17px;
            &.active{
             color: black;
          font-size: 17px;
             
            }
            
        }
    }
    .cart-box{
        margin: 0 20px;
        width: 100%;
        background-color: #f7f7f7;
        padding: 12px 20px 12px 40px;
        margin-bottom: 50px;
        border: 3px solid #F5F5F5;
      border-top-color: #1e85be;
        i{
            color: #1e85be ;
        }
   
    }
}