.seen-area{
    background-color: #EDF1F0;
    padding: 100px 0;
   .seen-logos{
      .seen-logo{
     
        p{
            font-size: 21px;
            font-weight: 600;
            margin: 0;
        }
      }
   } 
}