.header{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
  
    .shipping{
        background-color: #4E7661;
        width: 100%;
      
          height: 35px;
        p{
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0em;
            color: white;
        }
    }
.containerSide{
 
    .navMenu{
       
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        padding: 8px;
      
        .menu{
            ul{
                margin: 0;
                padding: 0;
                li{
                    padding: 20px;
                   .active-dec{
                    border-bottom: 1px solid black;
                    margin: 3px;
                   }
                    a{
                      font-size: 15px;
                        text-decoration: none;
                        color: black;
                       text-transform: uppercase;
                       font-weight: 500;
                        
                    }
                    img{
                        max-height: 26px;
                      
                        vertical-align: middle;
                    }

                }
            }
        }
 
        .header-icons{
            ul{
                li{
                    padding: 20px;
                    a{
                        color: black;
                        font-size: 27px;
                       
                    }
                }
            }
        }
      
    }  
}
}