.oterStuff{
    padding: 70px 10px;
    .containerSide{
        width: 96%;
        margin: auto;
        .others{
        margin: 10px;
        h3{
            font-size: 20px;
            text-align: center;
        }
        p{
            color: gray;
            font-size: 18px;
        }
    }
    
}
}