.blogMain{
    padding: 130px 0;
    .breadCrmb{
        display: flex;
        justify-content: center;
        background-color: #F5F5F5;
       padding: 15px 0px;
      a{
            color: gray;
            text-decoration: none;
          font-size: 17px;
            &.active{
             color: black;
          font-size: 17px;
             
            }
            
        }
    }
 .containerSide{
  width: 80%;
  margin: auto;
    .blog-banner-img-area
    {
        padding: 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .blog-banner-img{
            position: relative;
            cursor: pointer;

          &:hover .blog-image-overlay {
           opacity: 1;
          }
         .blog-image-overlay{
            position: absolute;
            top: 0;
            width: 770px;
            height: 470px;
            opacity: 0;
            background:rgba(0,0,0,0.5);
            transition: .5s all;
         }
         .banner-category {
         position: absolute;
        bottom: -12px;
            left: 50%;
            transform: translateX(-50%);
            background: #f5f5f5;
            border-radius: 3px;
            padding: 3px 16px;
            font-size: 15px;
            transition: .3s all;
            &:hover{
                background-color: black;
                color: white;
            }
         }
        }
    }
    .blog-banner-text{
        position: relative;
    .comment-list{
        display: flex;
        justify-content: center;
        align-items: center;
          ul{
       li{
        padding: 3px;        a{
            text-decoration: none;
            color: gray;
            font-size: 15px;
            transition: .3s;
            &:hover{
                color: black;
                text-decoration: underline;
                
            }
            img{
                border-radius: 50%;
            }
        }
        
        &.li-3::before{
            width: 1px;
    height: 14px;
    border-radius: 0;
    content: "";
    display: inline-block;
   border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0 10px;
    vertical-align: middle;
        }
        &.li-4::before{
            content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0 10px;
    vertical-align: middle;
        }
       }
          }
        }
        .read-more{
            .read-more-btn{
                button{
                    border: none;
                        font-size: 1rem;
                    line-height: 2.75rem;
                  padding: 0 2.1875rem;
                    font-weight: 600;
                    transition: .4s all;
                    &:hover{
                        background-color: #4E7661;
                        
                    }
                }
            }
        }
    }
 }
}